/misc		/etc/auto.misc
/net		/etc/auto.net
/cfsglobal 	/etc/autofs_pgs/auto.cfsglobal
/Memorial 	/etc/autofs_pgs/auto.memorial
/datadb 	/etc/autofs_pgs/auto.datadb nfsver=3
/cfsdev 	/etc/autofs_pgs/auto.cfsdev
#/users 		/etc/autofs_pgs/auto.users
/gfs 		/etc/autofs_pgs/auto.gfs
/lobby 		/etc/autofs_pgs/auto.lobby
/stratusdata 		/etc/autofs_pgs/auto.data
/- 		/etc/autofs_pgs/auto.direct
