<CM_machine|tape_device:DEFAULT>
cm_host = CMliteCube
<CM_machine>
cm_root = /cm
release = cm-3.3.1
cm_arch = LINUXM_x86_64
ws_arch = Linux_x86_64
local_temp_fs = /users/lcerezo/src/cf/config/cfengine/inputs/global/cfgfiles/profile.d/CMlite/tmp/
global_temp_fs = /users/lcerezo/src/cf/config/cfengine/inputs/global/cfgfiles/profile.d/CMlite/tmp/
